<header class="banner" role="banner">
  <div class="banner-wrapper">

    <h1 class="logo">CLASP</h1>

    <a href="javascript:void(0)" id="js-banner-mobile-menu" class="banner-mobile-menu">MENU</a>
    <nav class="main-nav" role="navigation">
      <ul>
        <li class="nav-link"><%= link_to "home", "/", class: current("home") %></li>
        <li class="nav-link"><%= link_to "people", "people.html", class: current("people") %></li>
        <li class="nav-link"><%= link_to "publications", "publications.html", class: current("publications") %></li>
        <li class="nav-link"><%= link_to "news", "news.html", class: current("news") %></li>
        <li class="nav-link"><%= link_to "contact", "contact.html", class: current("contact") %></li>
      </ul>
    </nav>
  </div>
</header>

<header class="banner" role="banner">
  <div class="banner-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-banner-mobile-menu" class="banner-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-banner-menu" class="banner-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link logo">
          <a href="javascript:void(0)" class="logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
          </a>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Testimonials</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Sign up</a></li>
      </ul>
    </nav>
  </div>
</header>
