---
title: "CLASP: Home"
page: home
---

<%= partial "header" %>

<article>
  <h2>Computational <br />
      Linguistics and <br/>
      Speech Processing <br/>
      Lab at RIT </h2>

  <p><%= lorem.paragraph %></p>

  <p><%= lorem.paragraph %></p>

</article>

<section>
  <h2>Recent News</h2>

  <p><%= lorem.paragraph %></p>

  <p><%= lorem.paragraph %></p>
</section>
