---
title: "CLASP: Home"
page: home
---

<%= partial "header" %>

<div class="content">
  <article>
    <h2 class="important">
      Computational <br />
      Linguistics and <br/>
      Speech Processing <br/>
      Lab at RIT <br />
      &mdash;
    </h2>

    <%= image_tag "group.jpg", width: '50%' %>

    <p><%= lorem.paragraph %></p>

    <p><%= lorem.paragraph %></p>

  </article>

  <section>
    <h2>Recent News</h2>

    <p><%= lorem.paragraph %></p>

    <p><%= lorem.paragraph %></p>
  </section>
</div>
