---
title: "CLASP: People"
page: people
---

<%= partial "header" %>

  <div class="content">
    <h1 class="card-section">Co-Directors</h1>

    <div class="cards">
      <div class="card card--director">
        <div class="card-image">
          <%= image_tag "cissi.jpg" %>
        </div>

        <p class="card-title">Assistant Professor</p>
        <h5 class="card-header">Cecilia Ovesdotter Alm, Ph.D.</h5>

        <div class="card-copy">
          <p>
          Cissi Ovesdotter Alm's research focuses on linguistic sensing and mining with text, speech, and multimodal data, particularly in clinical domains. She has special interests in areas that include inference problems related to affective or subjective meaning (such as aging, behavioral and developmental health, emotion, distress, certainty, or reasoning) and/or multimodal semantics. This work usually involves clinical, experimental, or social media data. Besides her Ph.D. in Linguistics from the University of Illinois at Urbana-Champaign (centered on computational linguistics), she also holds a Certificate of Advanced Study in Language and Speech Processing and a Certificate of Graduate Specialization in Computational Science and Engineering from UIUC. <a href="https://dl.dropboxusercontent.com/u/585585/RESOURCEWEBSITE1/CV_COA.pdf">Link to CV.</a>
          </p>
        </div>
      </div>

      <div class="card card--director">
        <div class="card-image">
          <%= image_tag "emily.jpg" %>
        </div>

        <p class="card-title">Assistant Professor</p>
        <h5 class="card-header">Emily Prud'hommeaux, Ph.D.</h5>

        <div class="card-copy">
          <p>
          Emily Prud'hommeaux's research focuses on applications of natural language processing and speech signal processing in the medical domain, particularly for identifying linguistic markers of neurological disorders such as autism and dementia. In addition, she maintains research interests in language modeling for speech recognition and in applications of word alignment beyond machine translation. She received her PhD in Computer Science from OHSU, an MA in Linguistics from UCLA, and an AB in Linguistics from Harvard. Between degrees, she worked for several years in the software industry at two start-ups and at Nuance, where she was a member of the language modeling R&D group. <a href="http://people.rit.edu/emilypx/PrudhommeauxCV.pdf">Link to CV</a>
          </p>
        </div>
      </div>
    </div>

    <hr>

    <h1>Collaborating Faculty/Researchers</h1>
    <ul class="bulleted">
      <li><a href="http://people.rit.edu/rwpeec/" target="_blank">Ray Ptucha, Ph.D., Computer Engineering, RIT</a></li>
    </ul>

    <hr>

    <h1 class="card-section">Current Students</h1>
    <div class="cards">

      <div class="card">
        <div class="card-image">
          <%= image_tag "preethi2.png" %>
        </div>

        <p class="card-title">Ph.D. Candidate</p>
        <h5 class="card-header">Preethi Vaidyanathan</h5>

        <div class="card-copy">
          <p>
          Imaging Science
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "tong.jpg" %>
        </div>

        <p class="card-title">Ph.D. Candidate</p>
        <h5 class="card-header">Tong Liu</h5>

        <div class="card-copy">
          <p>
          Computer Science
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "joe.png" %>
        </div>

        <p class="card-title">M.S. Candidate</p>
        <h5 class="card-header">Joseph Bullard</h5>

        <div class="card-copy">
          <p>
          Computer Science
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "nick.jpg" %>
        </div>

        <p class="card-title">M.S. Candidate</p>
        <h5 class="card-header">Nicolas Schrading</h5>

        <div class="card-copy">
          <p>
          Electrical Engineering
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "man.png" %>
        </div>

        <p class="card-title">B.S. Candidate</p>
        <h5 class="card-header">Dan Lavoie</h5>

        <div class="card-copy">
          <p>
          Software Engineering
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "ben.jpg" %>
        </div>

        <p class="card-title">B.S. Candidate</p>
        <h5 class="card-header">Ben Cohen</h5>

        <div class="card-copy">
          <p>
          Computer Science
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "man.png" %>
        </div>

        <p class="card-title">B.S. Candidate</p>
        <h5 class="card-header">Doug Dlutz</h5>

        <div class="card-copy">
          <p>
          Computer Science
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "will.jpg" %>
        </div>

        <p class="card-title">B.S. Candidate</p>
        <h5 class="card-header">Will Paul</h5>

        <div class="card-copy">
          <p>
          New Media Interactive Development
          </p>
        </div>
      </div>
    </div>

    <hr>

    <h1 class="card-section">Alumni</h1>
    <div class="cards">
      <div class="card">
        <div class="card-image">
          <%= image_tag "limor.png" %>
        </div>

        <p class="card-title">M.S. 2014</p>
        <h5 class="card-header">Limor Hochberg</h5>

        <div class="card-copy">
          <p>
          Experimental &amp; Engineering Psychology
          </p>
        </div>
      </div>


      <div class="card">
        <div class="card-image">
          <%= image_tag "ravdeep.png" %>
        </div>

        <p class="card-title">M.S. 2014</p>
        <h5 class="card-header">Ravdeep Johar</h5>

        <div class="card-copy">
          <p>
          Computer Science
          </p>
          <%# <p> %>
          <%# <a href="http://people.rit.edu/rsj7209/">Ravdeep Johar</a> was a Masters student in the Computer Science program. %>
          <%# </p> %>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "kathryn.png" %>
        </div>

        <p class="card-title">B.S. 2013</p>
        <h5 class="card-header">Kathryn Womack</h5>

        <div class="card-copy">
          <p>
          ASL-English Interpreting
          </p>
          <%# <p> %>
          <%# Kathryn Womack was an Undergraduate in the ASL-English Interpreting program. %>
          <%# </p> %>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "wilson.png" %>
        </div>

        <p class="card-title">B.S. 2012</p>
        <h5 class="card-header">Wilson McCoy</h5>

        <div class="card-copy">
          <p>
          Game Design &amp; Development
          </p>
          <%# <p> %>
          <%# Wilson McCoy was an Undergraduate in the Game Design &amp; Development program. %>
          <%# </p> %>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <%= image_tag "man.png" %>
        </div>

        <p class="card-title">B.S. Candidate</p>
        <h5 class="card-header">Taylor Kilroy</h5>

        <div class="card-copy">
          <p>
          Computer Science
          </p>
          <%# <p> %>
          <%# Taylor "Alf" Kilroy is an Undergraduate in the Computer Science program. %>
          <%# </p> %>
        </div>
      </div>
    </div>
  </div>
