---
title: "CLASP: People"
page: people
---

<%= partial "header" %>

<div class="content">
  <h1 class="card-section">Co-Directors</h1>

  <div class="cards">
    <div class="card card--director">
      <div class="card-image">
        <%= image_tag "cissi.jpg" %>
      </div>

      <p class="card-title">Professor</p>
      <h5 class="card-header">Cecila Ovesdotter Alm</h5>

      <div class="card-copy">
        <p>
        <a href="https://dl.dropboxusercontent.com/u/585585/RESOURCEWEBSITE1/index.html">Cecilia ("Cissi") Ovesdotter Alm, Ph.D.</a>, is a faculty member of the <a href="http://english.rit.edu">Department of English</a> in the language science/computational linguistics area at RIT's <a href="http://www.rit.edu/cla/">College of Liberal Arts</a>. She is the co-director of the Computational Linguistics and Speech Processing (CLASP) group and advises a team of students in computational language science. Cecilia's research uses language as a rich, observable, and non-invasive cognitive sensor for data-intensive inference, in isolation or with multimodal sensors. Under the umbrella of computational language science, Cecilia engages with students in interdisciplinary research that integrates linguistic questions with cognitive science, including affect, reasoning, aging, and multimodal semantics. Improving health and education are key motivations for this research.
        </p>
      </div>
    </div>

    <div class="card card--director">
      <div class="card-image">
        <%= image_tag "emily.jpg" %>
      </div>

      <p class="card-title">Professor</p>
      <h5 class="card-header">Emily Prud'hommeaux</h5>

      <div class="card-copy">
        <p>
        <a href="http://http://people.rit.edu/emilypx/">Emily Tucker Prud'hommeaux</a> is an Assistant Professor of Computational Linguistics and Language Science. Her research focuses on natural language processing for neurological assessment, machine translation, and discriminative language modeling.
        </p>
      </div>
    </div>
  </div>

  <h1 class="card-section">Current Students</h1>

  <div class="cards">

    <div class="card">
      <div class="card-image">
        <%= image_tag "woman.png" %>
      </div>

      <p class="card-title">Ph.D. Candidate</p>
      <h5 class="card-header">Preethi Vaidyanathan</h5>

      <div class="card-copy">
        <p>
        <a href="http://www.cis.rit.edu/profile/preethi-vaidyanathan">Website</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">Ph.D. Candidate</p>
      <h5 class="card-header">Tong Liu</h5>

      <div class="card-copy">
        <p>
        <a href="http://people.rit.edu/tl8313/">Website</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">M.S. Candidate</p>
      <h5 class="card-header">Joseph Bullard</h5>

      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">M.S. Candidate</p>
      <h5 class="card-header">Nicolas Schrading</h5>

      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">B.S. Candidate</p>
      <h5 class="card-header">Dan Lavoie</h5>

      <div class="card-copy">
        <p>
        <a href="http://www.danlavoie.net/">Website</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">B.S. Candidate</p>
      <h5 class="card-header">Will Paul</h5>

      <div class="card-copy">
        <p>
        <a href="will-paul.com">Website</a>
        </p>
      </div>
    </div>

  </div>

  <h1 class="card-section">Alumni</h1>
  <div class="cards">

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">M.S. 2014</p>
      <h5 class="card-header">Ravdeep Johar</h5>

      <div class="card-copy">
        <p>
        <a href="http://people.rit.edu/rsj7209/">Website</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">B.S. 2013</p>
      <h5 class="card-header">Kathyrn Womack</h5>

      <div class="card-copy">
        <p>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">B.S. 2012</p>
      <h5 class="card-header">Wilson McCoy</h5>

      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <%= image_tag "man.png" %>
      </div>

      <p class="card-title">B.S. Candidate</p>
      <h5 class="card-header">Alf Kilroy</h5>

      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>

  </div>
</div>
